*.tsbuildinfo
*.js.map
dist/
build/
out/
target/
coverage/
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
package-lock.json
.env
.env.*local
*.session.sql
*.suo
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/